<h1>Canvas Courses</h1>

<% if @error %>
  <p>Error: <%= @error %></p>
<% else %>
  <ul>
    <% @courses.each do |course| %>
      <li><%= course['name'] %></li> <!-- Adjust based on actual structure of API response -->
    <% end %>
  </ul>
<% end %>